<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlk.ktvroom.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.hlk.ktvroom.entity.User">
        <id column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="userpwd" property="userpwd" jdbcType="VARCHAR"/>
        <result column="realname" property="realname" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="entry_data" property="entryData" jdbcType="DATE"/>
        <result column="salary" property="salary" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        userid
        ,
        username,
        userpwd,
        realname,
        sex,
        age,
        telephone,
        address,
        status,
        entry_data,
        salary
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from k_user
        where userid = #{userid,jdbcType=INTEGER}
    </select>
    <select id="selectByUser" resultMap="BaseResultMap" parameterType="com.hlk.ktvroom.entity.User">
        select
        <include refid="Base_Column_List"/>
        from k_user
        where username = #{username,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.hlk.ktvroom.entity.User">
        select
        <include refid="Base_Column_List"/>
        from k_user
        <where>
            <if test="realname!=null and !realname.equals('')">
                realname like '%${realname}%';
            </if>
        </where>
        <where>
            <if test="username!=null and !username.equals('')">
                username=#{username}
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from k_user
        where userid = #{userid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hlk.ktvroom.entity.User">
        insert into k_user (userid, username, userpwd,
                            realname, sex, age,
                            telephone, address, status,
                            entry_data, salary)
        values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR},
                #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
                #{telephone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
                #{entryData,jdbcType=DATE}, #{salary,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.hlk.ktvroom.entity.User">
        insert into k_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="userpwd != null">
                userpwd,
            </if>
            <if test="realname != null">
                realname,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="entryData != null">
                entry_data,
            </if>
            <if test="salary != null">
                salary,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="userpwd != null">
                #{userpwd,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                #{realname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="entryData != null">
                #{entryData,jdbcType=DATE},
            </if>
            <if test="salary != null">
                #{salary,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hlk.ktvroom.entity.User">
        update k_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="userpwd != null">
                userpwd = #{userpwd,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                realname = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="entryData != null">
                entry_data = #{entryData,jdbcType=DATE},
            </if>
            <if test="salary != null">
                salary = #{salary,jdbcType=INTEGER},
            </if>
        </set>
        where userid = #{userid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hlk.ktvroom.entity.User">
        update k_user
        set username   = #{username,jdbcType=VARCHAR},
            userpwd    = #{userpwd,jdbcType=VARCHAR},
            realname   = #{realname,jdbcType=VARCHAR},
            sex        = #{sex,jdbcType=VARCHAR},
            age        = #{age,jdbcType=INTEGER},
            telephone  = #{telephone,jdbcType=VARCHAR},
            address    = #{address,jdbcType=VARCHAR},
            status     = #{status,jdbcType=INTEGER},
            entry_data = #{entryData,jdbcType=DATE},
            salary     = #{salary,jdbcType=INTEGER}
        where userid = #{userid,jdbcType=INTEGER}
    </update>
    <delete id="removes">
        delete from k_user where userid in
        <foreach collection="ids" close=")" item="id" separator="," open="(">
            #{id}
        </foreach>
    </delete>
    <update id="modify" parameterType="com.hlk.ktvroom.entity.User">
        update k_user
        set status=#{status}
        where userid = #{userid}
    </update>
</mapper>